spec {
    name "tracey"
    rules_glob "docs/spec/**/*.md"

    impl {
        lang "rust"
        include "crates/**/*.rs"
        exclude "target/**"
    }

    impl {
        lang "typescript"
        include "crates/tracey/dashboard/src/**/*.ts"
    }
}
